.opencode/

.qmlls.ini
.qmllint.ini

local.fish

config/niri/matugen.kdl
config/opencode/package-lock.json
config/waybar/colors.css
config/zed/themes/matugen.json

config/pi/agent/bin/
config/pi/agent/auth.json
config/pi/agent/sessions/
config/pi/agent/settings.json
