layout {
    border {
        active-gradient from="{{ colors.primary.dark.hex }}" to="{{ colors.secondary.dark.hex }}"
        inactive-color "{{ colors.surface_container.dark.hex }}"
    }

    insert-hint {
        color "{{ colors.surface.dark.hex }}"
    }
}
