overview {
    workspace-shadow {
      off
    }
}

cursor {
    xcursor-theme "Capitaine Cursors (Gruvbox)"
    xcursor-size 32
}

hotkey-overlay {
    skip-at-startup
}

layout {
    empty-workspace-above-first

    preset-column-widths {
        proportion 0.25
        proportion 0.33
        proportion 0.5
        proportion 0.67
        proportion 0.75
    }

    gaps 8
    background-color "transparent"

    border {
        width 2
        active-gradient from="#ebdbb2" to="#7c6f64"
        inactive-color "#3c3836"
    }

    insert-hint {
        color "#7c6f64"
    }

    focus-ring {
        off
    }

    struts {
        left 40
    }
}

window-rule {
    clip-to-geometry true
    // geometry-corner-radius 8
}

layer-rule {
    match namespace="^swww-daemon$"
    place-within-backdrop true
}

spawn-at-startup "kitty" "--single-instance"


include "./input.kdl"
include "./binds.kdl"
include "./matugen.kdl"
