overview {
    backdrop-color "#271d1d"
}

layout {
    background-color "#140c0b"

    border {
        active-gradient from="#ffb3ae" to="#904a46"
        inactive-color "#271d1d"
    }

    insert-hint {
        color "#1a1111"
    }
}
